body {
	background: #FFFFFF;
	text-align: center;
	padding: 0px;
	margin: 0px auto;
	color: #373E60;
}
#mainPosition {
	text-align: left;
	width: 960px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
}
#randomBG1 {
	background: url("images/utmost_randomImage_1.jpg") no-repeat scroll center top;
}
#randomBG2 {
	background: url("images/utmost_randomImage_2.jpg") no-repeat scroll center top;
}
#randomBG3 {
	background: url("images/utmost_randomImage_3.jpg") no-repeat scroll center top;
}
#randomBG4 {
	background: url("images/utmost_randomImage_4.jpg") no-repeat scroll center top;
}
#randomBG5 {
	background: url("images/utmost_randomImage_5.jpg") no-repeat scroll center top;
}
#divStayTopLeft {
	width: 110px;
	color: #5D6995;
	font: bold 14px/15px Georgia, "Times New Roman", Times, serif;
	margin-top: 130px;
	text-align: left;
	padding-left: 20px;
	float: left;
	position: absolute;
	white-space: nowrap;
}
#divStayTopLeft p a:link, #divStayTopLeft p a:visited {
	color: #5d6995;
	text-decoration: none;
	padding-right: 3px;
	padding-left: 3px;
}
#divStayTopLeft p a:hover {
	color: #6C5654;
	background: url("images/hor_link_rollover.jpg");
	padding-right: 3px;
	padding-left: 3px;
}
#topNav {
	font: 16px Georgia, "Times New Roman", Times, serif;
	color: #576390;
	width: 773px;
	margin-left: 185px;
	margin-top: 57px;
}
#topNav p {
	margin-bottom: 0px;
	padding-left: 10px;
}
#topNav p a:link, #topNav p a:visited {
	text-decoration: none;
	color: #576390;
	padding: 2px;
}
#topNav p a:hover {
	color: #6C5654;
	text-decoration: none;
	background: url("images/hor_link_rollover.jpg");
	padding: 2px;
}
#sublinks {
	font-weight: bold;
	font-size: 13px;
	width: 603px;
	margin-left: 185px;
	margin-top: 10px;
	padding-left: 10px;
}
#sublinks h1 {
	color: #645353;
	margin-top: 0px;
	margin-bottom: 0px;
	font: bold 200% Georgia, "Times New Roman", Times, serif;
}
#sublinks a:link {
	font-weight: bold;
	color: #4D5B87;
	padding: 2px;
}
#sublinks a:hover {
	color: #645353;
	background: url("images/hor_link_rollover.jpg");
	padding: 2px;
}
#sublinks a:visited {
	color: #645353;
	padding: 2px;
}
#content {
	text-align: left;
	width: 560px;
	clear: both;
	margin-left: 215px;
	padding-left: 10px;
	font: 12px Arial, Helvetica, Verdana, sans-serif;
}
#content h2 {
	color: #4D5B87;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 120%;
}
#content h3 {
	font-size: 110%;
	font-weight: bold;
	color: #4D5B87;
	margin-bottom: 5px;
}
#content table {
	font-size: 12px;
}
#content p {
	margin-top: 10px;
	margin-bottom: 15px;
}
#content b {
	color: #DC290E;
	font-size: 110%;
}
#content a:link {
	font-weight: bold;
	color: #373E60;
}
#content a:hover {
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
}
#content a:visited {
	font-weight: bold;
	color: #645353;
}
#content .feature {
	font-size: 11px;
	font-weight: bold;
	color: #CC6633;
	float: right;
	background: url("images/feature_bg.png") repeat-y;
	padding: 0px;
	width: 198px;
	margin-right: -80px;
}
#content .feature h1 {
	background: url("images/feature_header.png") no-repeat;
	margin-top: -10px;
	padding: 30px 15px 0px;
	text-align: left;
	font: bold 150% Arial, Helvetica, Verdana, sans-serif;
	color: #a1a7be;
}
#content .feature p {
	font-size: 11px;
	font-weight: bold;
	color: #A1A7BE;
	padding: 5px 20px 0px 15px;
}
#content .feature p a:link, #content .feature p a:visited {
	color: #7C8294;
}
#content .feature h6 { 
	height: 28px;
	width: 198px;
	background: url("images/feature_footer.png") no-repeat;
	margin: 0px;
	padding: 0px;
}
#content .smallText {
	font-size: 90%;
}
